body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 100%, 0.723);
    flex-direction: column;
}

.N-Calculator {
    height: 300px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 300px;
    border: rgb(40, 34, 34) solid 5px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 0%);

}
.switch{
    margin-top: 10px;
    width: 200px;
    display: grid;
    justify-self: center;
    
}
.switch button{
padding: 4px;

  height: 2rem;
  border: black solid 4px;
  border-radius: 12px;
  background-color: hsla(24, 4.2%, 23.3%, 0.72);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.switch button:active{
    transform: translateY(4px);
    box-shadow: 0 0px #171717;
     background-color: hsl(0, 3%, 55%);
}
#Clear{
    display: none;
    margin-top: 5px;
}
#display{
  padding: 3px;
  height: 2.5rem;
  padding-right: 10px;
  margin-bottom: 9px;
  margin-top: 6px;
  background-color: hsl(0, 0%, 17%);
  border-radius: 10px;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
}
.keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 6px;
    justify-items: center;
}
.keys button{
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border: none;
    font-size: 1rem;
}
.opperand{
 background-color: hsla(0, 0%, 15%, 0.723);
}
.opeator{
     background-color: hsla(0, 2%, 10%, 0.723);
}
.sum{
    background-color: hsl(27, 91%, 58%);
}
.opperand:hover{
    opacity: 0.5;
}
.sum:hover{
    opacity: 0.5;
}
.opeator:hover{
    opacity: 0.75;
}
.keys button:active{
    background-color: hsl(0, 0%, 49%);
}

.D-Calculator {
    display: none;
    flex-direction: column;
    background-color: hsl(0, 1%, 17%);
    border: 5px solid black;
    border-radius: 5px;
    width: 400px;
    position: relative;
}

.D-Calculator .tooltiptext {
  visibility: hidden;
  width: 160px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 8px;
  position: absolute;
  bottom: 125%; 
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.D-Calculator:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
@media (max-width: 500px) {
    .D-Calculator {
    display: none;
    flex-direction: column;
    background-color: hsl(0, 1%, 17%);
    border: 5px solid black;
    border-radius: 5px;
    width: 300px;

}
}
.screenin{
    height: 2.5rem;
    background-color: hsl(0, 0%, 17%);
    font-size: 2rem;
    text-align: right;
    padding: 4px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.screenout{
    height: 2rem;
    background-color: hsl(0, 0%, 17%);
    font-size: 1.5rem;
    text-align: right;
    padding: 4px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
